@{
    Layout = "_Layout";
}


@model List<Photo>
<div class="container my-5">
    @if (User.IsInRole("ADMIN"))
    {
        <a class="btn btn-success"
           href="@Url.Action("Create", "Photo")">
            Aggiungi nuova foto
        </a>
    }
</div>


<div class="container d-flex flex-wrap gap-5">
    @foreach (Photo photo in Model)
    {
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <div style="container-image">
                    <img src="@photo.ImageSrc" class="card-img-top image-card" alt="Foto">
                </div>
                <h5 class="card-title text-success">@photo.Title</h5>
                <p class="card-text">@photo.Description</p>
            </div>
            <div class="text-center mb-3 d-flex justify-content-center gap-2">
                <a href="@Url.Action("Details", "Photo", new { id = photo.Id})">
                    <button type="submit" class="btn btn-outline-success btn-sm">Dettagli</button>
                </a>
                @if (User.IsInRole("ADMIN"))
                {
                    <a href="@Url.Action("Update", "Photo", new { id = photo.Id})">
                        <button type="submit" class="btn btn-outline-success btn-sm">Modifica</button>
                    </a>
                    <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            Elimina
                        </button>
                    </form>
                }
            </div>
        </div>
    }

</div>




